<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/tuBaseDeDatos</property>
        <property name="hibernate.connection.username">tuUsuario</property>
        <property name="hibernate.connection.password">tuContraseña</property>

        <!-- Configuración del dialecto de SQL para PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Mostrar las consultas SQL en la consola -->
        <property name="show_sql">true</property>

        <!-- Actualizar el esquema de la base de datos automáticamente -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapeo de entidades -->
        <mapping class="org.uv.TPCS_Practica2.Empleado"/>
        
        <!-- Puedes agregar más entidades aquí si es necesario -->
    </session-factory>
</hibernate-configuration>
